<h1 class="subject">Day 1: PREPARE THE WORKING ENVIRONMENT</h1>

<h3 class="title">CHUẨN BỊ</h3>
<p>
  - IDE/Editor: Visual studio code
</p>
<p>
  - Extension: Angular Language Service, EditorConfig for VSCode, ESLint/TSLint, NxConsole
</p>
<hr />
<h3 class="title">TIẾN HÀNH</h3>
<p>
  - Cài đặt Nodejs
</p>
<p>
  - Sau khi cài đặt Nodejs xong thì kiểm tra Nodejs và Npm bằng câu lệnh : node -v và npm -v
</p>
<p>
  - Cài đặt Angular CLI bằng câu lệnh : npm install -g @angular/cli@latest
</p>
<p>
  - Sau khi cài đặt Angular CLI xong thì kiểm tra bằng câu lệnh : ng --version
</p>
<hr />
<h3 class="title">KHỞI TẠO DỰ ÁN</h3>
<p>
  - Sau khi cài đặt xong môi trường thì chúng ta có thể bắt đầu khởi tạo dự án bằng câu lệnh : ng new my-project
</p>
<p>
  - Chạy project bằng câu lệnh : ng serve
</p>
